.navbar {
    background-color: #81d177;
}

.contatos1{
    background-color: aqua;
}

.margin{
    padding-top: 30px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;

    
}

li{
    font-size: 20px;
    
}
ul{
    font-family: Arial Bold;
}

